/*general*/


body {
    color: gray;
    font-family: arial;
    line-height: 200%;
    margin-left: 20%;
    margin-right: 20%;
	margin-top: 10%;

}

table {
    color:gray;
    vertical-align: middle;
    border-spacing: 5vw 5vw; 
	border-radius:10px;
	background: linear-gradient(to top, #CDE8F1, #FEEAF4);
}

main {
    margin-top: 5vw;
    border-radius:10px;
}

h1 {
    font-family: helvetica;
    color: gray;
}

h2{
    font-family: helvetica;
    color: gray; 
}

h3 {
    font-family: helvetica;
    color: gray;
}

img {
    border-radius:10%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

/*Hover*/

a:hover {
    color: lightblue;
}